/*
Syntax error: File to import not found or unreadable: font-awesome.
              Load path: /Users/mmichon/Dropbox/_development/playground/color-gen
        on line 8 of css/main.scss

3: @import 'vars';
4: @import 'framework/framework';
5: 
6: //Site-specific Components Components
7: 
8: @import 'font-awesome';
9: @import 'ui';

Backtrace:
css/main.scss:8
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/import_node.rb:45:in `import'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mmichon/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.8/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: font-awesome.\A               Load path: /Users/mmichon/Dropbox/_development/playground/color-gen\A         on line 8 of css/main.scss\A \A 3: @import 'vars';\A 4: @import 'framework/framework';\A 5: \A 6: //Site-specific Components Components\A 7: \A 8: @import 'font-awesome';\A 9: @import 'ui';"; }
